.app-wrapper {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  cursor: crosshair;

  &.has-crop-area { background: none; }
  &.recording { pointer-events: none; }

  
}