.preview-controls {
  padding: $size-xsmall 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: $size-small;

  .preview-button {

  }

  .preview-slider {
    flex: 1;
    padding-right: $size-medium;
    padding-left: $size-xsmall;
  }
}

